@model List<ClienteModel>
@{
    ViewData["Title"] = "Listagem de Clientes";
}

<div class="text-center">

    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-success" role="button" asp-controller="Clientes" asp-action="Criar">Adicionar</a>
    </div>
    <br />

    @if (TempData["MenssagemSucesso"] != null)
    {

        <div class="alert alert-success" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert"> X</button>
        </div>
    }
    @if (TempData["MenssagemErro"] != null)
    {
        <div class="alert alert-danger" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert"> X</button>
        </div>
    }


    <h1 class="display-4">Listagem de clientes</h1>


    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Email</th>
                <th scope="col">CPF</th>
                <th scope="col">Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (ClienteModel cliente in Model)
                {
                    <tr>
                        <th scope="row">@cliente.Id</th>
                        <td>@cliente.Nome</td>
                        <td>@cliente.Email</td>
                        <td>@cliente.Cpf</td>
                        <td>@cliente.StatusCliente</td>
                        <td>
                            <div class="btn-group" role="group">
                                <a role="button" class="btn btn-primary" asp-controller="Clientes" asp-action="Editar" asp-route-id="@cliente.Id">Editar</a> |
                                <a role="button" class="btn btn-danger" asp-controller="Clientes" asp-action="DeletarConfirmacao" asp-route-id="@cliente.Id">Apagar</a>
                            </div>
                        </td>

                    </tr>

                }
            }
        </tbody>
    </table>
</div>